{% extends 'base.html' %}
{% block title %}Eliminar Contacto{% endblock %}

{% block content %}
<div class="contacto-container contacto-delete">
  <h2>Confirmar eliminación</h2>
  <p>¿Estás seguro de que deseas eliminar este contacto de atención médica?</p>

  <ul>
    <li><strong>Fecha Inicio:</strong> {{ contacto.fecha_hora_inicio_atencion|date:"d/m/Y H:i" }}</li>
    <li><strong>Entidad Prestadora:</strong> {{ contacto.codigo_entidad_prestadora }}</li>
  </ul>

  <form method="post">
    {% csrf_token %}
    <div class="form-actions">
      <button type="submit" class="btn btn-danger">Sí, eliminar</button>
      <a href="{% url 'contacto_salud_list' id_paciente=paciente.paciente_UUID %}" class="btn btn-secondary">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}
