form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input,
textarea,
select {
    padding: 0.7rem;
    border: 1px solid var(--color-border);
    border-radius: var(--radius);
    font-size: 1rem;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: var(--color-secondary);
    box-shadow: 0 0 5px rgba(0, 180, 216, 0.3);
}